<style>
  .margin{
    margin-top: 16%;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center margin">Iniciar Sesión</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"fcpers" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class:"fcpers" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%><br />
      
        <div class="actions text-center">
          <%= f.submit "Ingresar", class:"btn1 be-red white" %><br />
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<style>
	body{
		background: url(http://www.vanguardia.com/sites/default/files/imagecache/Noticia_600x400/foto_grandes_400x300_noticia/2011/07/23/gal_armenia_-_cen.jpg);
		background-color: rgba(0,0,0,0.5);
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;  
   }
</style>  