<style>
  .flash-notice{
    color:red;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.2);
  }
  .red{
    color:red !important;
  }
  .disabled {
  opacity: 0.65; 
  cursor: not-allowed !important;
}
</style>
<h2 class="text-center">Bienvenido, 
    <% if user_signed_in? %>
    <%= current_user.nombreCompleto %>!
    <% else %>
    Por favor inicie sesión!
    <% end %>
</h2>
<h3 class="text-center">Tenemos mas de 10 escenarios a tu disposición, reserva ya!</h3>
<% if user_signed_in? %>
  <% if current_user.rol == "Administrador" %>
    <div class="text-center"><%= link_to 'Agregar Escenario', new_escenario_path, class:"btn btn-default" %></div>
  <%end%>
<%end%><hr>
<div class="flash-notice"><h3><%= notice %></h3></div>
<div class="container">
  <div class="row">
      <% @escenarios.each do |escenario| %>
          <div class="col-md-4">
            <div class="card">
              <h3 class="text-center" style="color:red;"><%= escenario.categorium.nombre %></h3>
              <div class="card-image">
                <img src="<%= escenario.foto.url(:medium) %>" width="360px" height="200px"></img>
              </div><!-- card image -->
              
              <div class="card-content">
                <center>
                  <% if escenario.estado == "En Reparación" || escenario.estado == "Inactivo" %>
                    <span class="card-title kaushanfont text-center red"><%= escenario.nombre %> - <%= escenario.estado %></span>
                  <%else%>
                    <span class="card-title kaushanfont text-center"><%= escenario.nombre %> - <%= escenario.estado %></span>
                  <%end%>
                </center>
              </div>
              
              <div class="card-action text-center">
                <% if user_signed_in? %>
                  <% if current_user.rol == "Administrador" %>
                    <%= link_to 'Ver', escenario %>
                    <%= link_to 'Editar', edit_escenario_path(escenario) %>
                    <%= link_to 'Eliminar', escenario, method: :delete, data: { confirm: '¿Desea eliminar este escenario?' } %>
                  <%else%>
                    <% if escenario.estado == "En Reparación" || escenario.estado == "Inactivo" %>
                     <a class="btn btn-default" style="cursor: not-allowed;><%= link_to escenario.estado, nil, class:"btn btn-default disabled red" %></a>
                    <%else%>
                      <%= link_to 'Reservar', new_reserva_path(:idDeEscenario => escenario.id),class:"btn btn-default" %>
                    <%end%>
                  <%end%>
                <% else %>
                  <%= link_to 'Reservar', new_reserva_path(:idDeEscenario => escenario.id),class:"btn btn-default" %>
                <%end%>
              </div>
            </div>
          </div>
      <% end %>
</div>

<style>

  @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
  .card .card-image{
      overflow: hidden;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }
  
  .card .card-image img{
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
  }
  
  .card .card-image:hover img{
      -webkit-transform: scale(1.2) rotate(-7deg);
      -moz-transform: scale(1.2) rotate(-7deg);
      -ms-transform: scale(1.2) rotate(-7deg);
      -o-transform: scale(1.2) rotate(-7deg);
      transform: scale(1.2) rotate(-7deg);
  }
  
  .card{
      font-family: 'Roboto', sans-serif; 
      margin-top: 10px;
      position: relative;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card .card-content {
      padding: 10px;    
  }
  
  .card .card-content .card-title, .card-reveal .card-title{
      font-size: 24px;
      font-weight: 200;    
  }
  
  .card .card-action{
      padding: 20px;
      border-top: 1px solid rgba(160, 160, 160, 0.2);
  }
  .card .card-action a{
      font-size: 15px;
      color: #ffab40;
      text-transform:uppercase;
      margin-right: 20px;    
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      transition: color 0.3s ease;
  }
  .card .card-action a:hover{    
      color:#ffd8a6;
      text-decoration:none;
  }
  
  .card .card-reveal{    
      padding: 20px;
      position: absolute;
      background-color: #FFF;
      width: 100%;
      overflow-y: auto;
      /*top: 0;*/
      left:0;
      bottom:0;
      height: 100%;
      z-index: 1;
      display: none;    
  }
  
  .card .card-reveal p{
      color: rgba(0, 0, 0, 0.71);
      margin:20px ;
  }
  
  .btn-custom{
      background-color: transparent;
      font-size:18px;
  }
</style>